<section class="container">
  
  <article class="project-filter">
    <div class="section-title">
      <div>PROJECT</div>
    </div>
    <ul>
      <li class="active" id="filter_all">All</li>
      <li class="" id="filter_web">Web</li>
      <li class="" id="filter_pc">PC</li>
      <li class="" id="filter_mobile">Mobile</li>
    </ul>
  </article>

  <section class="project-list">
    <ul class="grid-card-list">
        <li>
          <img src="assets/images/project_008_sketchbox.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_007_projectbuilding.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_006_quickmedic.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_005_mediair.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_004_dbsee.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_003_gototheschool.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_002_yogijogi.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_001_showmethejava.png" class="card-img" />
        </li>
      </ul>
  </section>
  
</section>