<section class="container">
  
  <article class="project-filter">
    <div class="section-title">
      <div>PROJECT</div>
    </div>
    <ul>
      <li class="active" id="filter_all">All</li>
      <li class="" id="filter_web">Web</li>
      <li class="" id="filter_pc">PC</li>
      <li class="" id="filter_mobile">Mobile</li>
    </ul>
  </article>

  <section class="project-list">
    <ul class="grid-card-list">
        <li>
          <img src="assets/images/project_007.png" class="card-img" />
          <div>
            스케치박스<br />
            Web<br />
          </div>
        </li>
        <li>
          <img src="assets/images/project_006.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_005.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_004.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_003.png" class="card-img" />
        </li>
        <li>
          <img src="assets/images/project_002.png" class="card-img" />
        </li>
        <li>
          <img src="" class="card-img" />
        </li>
      </ul>
  </section>
  
</section>