<section class="container">

  <section class="about-my-photo">
    <div class="section-contents self-intro">
      <img src="assets/images/img_profile.png" />
      <div id="hello">Hello.</div>
      <div id="intro">기술을 통해 즐거운 문화를 만들고 꿈을 실현시키는 개발자입니다.</div>
    </div>
  </section>

  <section class="about-profile division grid-two-col-section">
    <article>
      <div class="section-title">
        <div>PROFILE</div>
      </div>
      <div class="section-contents">
        <div class="profile-grid-container">
          <div>이름</div>
          <div>김민규 (Min-kyu Kim, <span style="font-family: var(--fontNanumGothic); font-weight: 600;">金旻奎</span>)</div>
          <div>이메일</div>
          <div>namu.devlab@gmail.com</div>
          <div>거주지역</div>
          <div>대한민국 경기도</div>
          <div>학교</div>
          <div>한국교통대학교 소프트웨어학과 (2018년 졸업)</div>
          <div>슬로건</div>
          <div>즐거운 문화를 만들자</div>
          <div>현황</div>
          <div>취업 준비 중 (신입)</div>
        </div>
      </div>
    </article>
    <article>
      <div id="photo_area_temp" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; border: 1px dotted gray; color: gray;">Photo</div>
    </article>
  </section>

  <section class="about-skill division">
    <div class="section-title">
      <div>SKILL (Language &amp; Tools)</div>
    </div>
    <div class="section-contents">
      <div>C#, C++, JAVA, HTML5, CSS, Javascript, JQuery, MySQL, Android, JSP, ASP.NET Core, Angular 4</div>
      <div>
        <ul class="skill-list">
          <li><img src="assets/images/ic_skill_csharp.png" /></li>
          <li><img src="assets/images/ic_skill_cpp.png" /></li>
          <li><img src="assets/images/ic_skill_java.png" /></li>
          <li><img src="assets/images/ic_skill_htmlcss.png" /></li>
          <li><img src="assets/images/ic_skill_js.png" /></li>
          <li><img src="assets/images/ic_skill_jquery.png" /></li>
          <li><img src="assets/images/ic_skill_mysql.png" /></li>
          <li><img src="assets/images/ic_skill_android.png" /></li>
          <li><img src="assets/images/ic_skill_jsp.png" /></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="about-slogan">
    <div class="section-title bigger">
      <div>즐거운 개발자가 즐거운 소프트웨어를 만드는법</div>
    </div>
  </section>

  <section class="about-personality division">
    <div class="section-title">
      <div>PERSONALITY</div>
    </div>
    <div class="section-contents personality">
      <div>
        1. 도전하는 정신<br />
        진심을 다해 해보고 싶은 목표는 깃발을 꽂기 전까지 계속 달려보자
      </div>
      <div>
        2. 창의적인 생각<br />
        무엇을 만들고 개선해야 하는지 찾아 즐겁고 다루기 쉬운 소프트웨어를 만들자      
      </div>
      <div>
        3. 긍적적인 마음<br />
        스트레스를 받아봤자 좋은거 하나 없다. 긍적적인 마음으로 항상 웃는 모습을 보여주자
      </div>
      <div>
        4. 책임있는 사람<br />
        내가 맡은 일, 관여한 일에 대해서 책임감 있게 행동하자
      </div>
      <div>
        5. 경험하는 사람<br />
        다양한 문화를 경험하고 수용하며 사람들과 소통하자
      </div>
    </div>
  </section>

  <section class="about-awards division">
    <div class="section-title">
      <div>AWARDS</div>
    </div>
    <div class="section-contents">
      <div class="awards-grid-container">
        <div style="grid-row-start: 1; grid-row-end: 3;">2016</div>
        <div>02.19</div>
        <div>2016 연합 SW 동아리 경진대회 (장려상)<br />주최: 충청북도 지역선도대학 육성사업</div>
        <div>11.30</div>
        <div>제 5회 충청북도 모바일 앱 공모전 (최우수상)<br />주최: 충청북도청</div>
        <div style="grid-row-start: 3; grid-row-end: 5;">2017</div>
        <div>11.23</div>
        <div>2017년 전국 ICT 융합 공모전 (최우수상)<br />주최: 충북 ICT 산업협회 / 과학기술정보통신부</div>
        <div>11.24</div>
        <div>2017 연합 SW 동아리 경진대회 (우수상)<br />주최: 충청북도 지역선도대학 육성사업</div>
      </div>
      <div class="awards-grid-imagebox">
          <div id="photo_area_temp" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; border: 1px dotted gray; color: gray;">Photo</div>
          <div id="photo_area_temp" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; border: 1px dotted gray; color: gray;">Photo</div>
          <div id="photo_area_temp" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; border: 1px dotted gray; color: gray;">Photo</div>
          <div id="photo_area_temp" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; border: 1px dotted gray; color: gray;">Photo</div>
      </div>
    </div>
  </section>

  <section class="about-cerificate division">
    <div class="section-title">
      <div>TECHNICAL QUALIFICATION CERTIFICATE</div>
    </div>
    <div class="section-contents">
      <div class="cerificate-grid-container">
          <div>정보처리기사</div>
          <div>2017.05.26</div>
          <div>한국산업인력공단</div>
          <div>정보기기운용기능사</div>
          <div>2011.07.22</div>
          <div>한국산업인력공단</div>
          <div>워드프로세서 2급</div>
          <div>2011.11.30</div>
          <div>대한상공회의소</div>
          <div>컴퓨터활용능력 2급</div>
          <div>2009.06.30</div>
          <div>대한상공회의소</div>
        </div>
    </div>
  </section>

  <!-- # 메일 버튼
    <section class="about-message-me">
    <div class="section-contents">
      <a href="mailto:namu.devlab@gmail.com" class="btn-message-me">
        <i class="material-icons">mail_outline</i>
        <div>MESSAGE ME</div>
      </a>
    </div>
  </section> 
  -->

</section>












