/* You can add global styles to this file, and also import other style files */
/* 
    ※Rule
    PC Mobile 기준 >> @media (min-width: 992px)
    
 */


/* Import Style */
@import url('https://fonts.googleapis.com/css?family=Orbitron:700');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* Default Style */
:root {
    --colorPrimary: #fcd734;
    --colorPrimaryLight: #ffff6b;
    --colorPrimaryDark: #c5a600;
    --colorNavbarDark: #24292e;
    --textColorPrimary: #000000;
    --textColorWhite: #ffffff;
    --textColorDark: #404040;
    --textColorNavbar: rgba(255,255,255,0.75);

    --fontTitle: 'Orbitron', sans-serif;
    --fontSubject: 'Titillium Web', sans-serif;
    --fontPrimary: 'Noto Sans KR', sans-serif;

    /* z-index */
    --zIndex-navbar: 100;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--textColorPrimary);
}

/* Layout Style */
.container {
    width: 992px;
    height: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}